$white: #fff;
$light-grey: #f9f9f9;
$grey: #a0a0a0;
$dark-grey: #333;
$green: #36C593;
$dark-green: #354B3E;
$black: #000;

$primary-color: $green;
$secondary-color: $dark-green;

$phone-breakpoint: 768px;
$ipad-breakpoint: 992px;
$laptop-breakpoint: 1200px;

$primary-font: 'Montserrat', serif;
$bold-primary-font: 'Montserrat Bold', serif;
